*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html{
    font-size: 60%;
}

body{
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.Home {
    text-decoration: none;
}

.logo {
    font-size: 3rem;
    color: orange;
    font-weight: 800;

}
nav a{
    font-size: 1.8rem;
    color: orange;
    margin-left: 4rem;
    font-weight: 500;
    cursor: pointer;

      
}

section{
    margin-top: 100px;
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    justify-content: space-between;
    gap: 50px;
    display: flex;
    text-align: justify;



}

.foto img{
    border-radius: 50%;
    margin-bottom: 30px;
}


.nama p {
    padding-top: 30px;
    font-size: 2rem;    
}

table{
    width: 100%;
    font-size: 2rem;
}

.nama h1 {
    font-size: 30px;
}

.nama li {
    margin-left: 20px;
    font-size: 2rem;
}

